page-calc {
ion-input[type=number] {
    decoration:none;
   
}
.colorfont {
    font-family: verdana;
    color: #023450;

    }
.disable {
    pointer-events: none;
}
}
ion-title {
    padding-top:10px;
}